
.cursor/

.cursorrules

jdk17/.github/

jdk17/.mvn/

jdk17/mvnw.cmd

jdk17/mvnw

jdk8/mcp/target/
jdk8/.idea/
jdk8/spring-ai-model/.idea/
jdk8-spring/.idea/

jdk8/checks/

*.zip

jdk8/mcp-spring/mcp-spring-webflux/target/
jdk8/mcp-bom/.flattened-pom.xml

jdk8/mcp-spring/.flattened-pom.xml

jdk8/mcp-spring/mcp-spring-webflux/.flattened-pom.xml

jdk8/mcp-spring/mcp-spring-webmvc/.flattened-pom.xml

jdk8/mcp-spring/mcp-spring-webmvc/target/

jdk8/mcp-test/target/


jdk8/mcp-test/.flattened-pom.xml

jdk8-spring/auto-configurations/mcp/spring-ai-autoconfigure-mcp-client/target/

jdk8-spring/auto-configurations/mcp/spring-ai-autoconfigure-mcp-server/target/
jdk8-spring/mcp/common/target/

jdk8-spring/spring-ai-model/target/

*.flattened-pom.xml
